body {
  background-color: pink;
}

.site {
  color: grey;
  max-width: 1000px;
  float: none;
  margin: auto;
  background-color: lightpink;
  padding: 10px;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica;
  text-align: center;
  margin: auto;
  display: grid;
}

p {
  font-family: Arial, Helvetica;
  font-size: 1.1em;
  line-height: 1.3em;
  color: #333;
  font-weight: 300;
}

a {
  font-family: Arial, Helvetica;
  font-size: 1.3em;
  text-decoration: none;
  color: #333;
}

ul li {
  display: flex;

  background-color: lightgrey;
  font-family: Arial, Helvetica;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
}

ul li:hover {
  background-color: grey;
}

header {
  display: grid;
  width: 100%;
  display: border-left: ;ck;
}

header nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  padding: 10px;
  text-decoration: none;
  color: grey;
}

header nav a:hover {
  color: white;
  background-color: pink;
}

main {
  display: flex;
  float: auto;
  width; 28%;
  min-height: 300px;
}

@charset "utf-8";


.formular {
  display: flex;
  clear: both;
}

.formular input {
  width: 100%;
  clear: both;

}

#formular {
  width: 1000px;
  border: 5px solid rgba(234, 234, 234, 1.00);
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 1.00);
  padding: 20px;
  font-size: 16px;
}

#formular input[type=text],
#formular input[type=email] {
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

#formular input[type=submit] {
  width: 100%;
  background-color: grey;
  color: rgba(255, 255, 255, 1.00);
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

#formular input[type=submit]:hover {
  background-color: lightpink;
}



footer {
    display: inline-block;
    width;
}
