* {
  margin: 0;
  padding: 0;
}

#block_element_1 {
  background-color: #d8d8d8;
  font-size: 35px;
  text-align: center;
line-height: 300px;
width: 300px;
height: 300px;
padding: 25px;
margin-top: 25px;
margin-bottom: 150px;
margin-left: 25px;
margin-right: 25px;
border-style: solid;
border-width: 20px;
border-color: black;

}

#block_element_2 {
  background-color: #d8d8d8;
  font-size: 35px;
  text-align: center;
line-height: 300px;
width: 300px;
height: 300px;
padding: 25px;
margin-top: 0px;
margin-bottom: 25px;
margin-left: 25px;
margin-right: 25px;
border-style: solid;
border-width: 20px;
border-color: black;

}
